@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the student manager web app.</p>
    <p>Please click the Student Manager Tab on the Top of the screen to start.</p>
</div>
